In [30]:
import geopandas as gpd

LAU_NUTS = gpd.read_parquet(r"p:\11207608-coclico\FULLTRACK_DATA\WP4\LAU_stats\archive\LAU_NUTS_CFHP.parquet")
RP1 = gpd.read_parquet(r"p:\11207608-coclico\FULLTRACK_DATA\WP4\LAU_stats\archive\LAU_DATA_CFHP_only_HDRP1.parquet")

In [36]:
LAU_NUTS[RP1.columns[-5:]].equals(RP1[RP1.columns[-5:]])

True

In [17]:
for col in RP1[RP1.columns[-5:]]:
    LAU_NUTS[col] = RP1[col]

LAU_NUTS[RP1.columns[-5:]]

,HIGH_DEFENDED_MAPS\RP\1\n_nans,HIGH_DEFENDED_MAPS\RP\1\n_less05,HIGH_DEFENDED_MAPS\RP\1\n_more05,HIGH_DEFENDED_MAPS\RP\1\total,HIGH_DEFENDED_MAPS\RP\1\flooded
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
98608,NaN,NaN,NaN,NaN,NaN
98609,NaN,NaN,NaN,NaN,NaN
98610,NaN,NaN,NaN,NaN,NaN
98611,NaN,NaN,NaN,NaN,NaN
98612,NaN,NaN,NaN,NaN,NaN