In [8]:
import geopandas as gpd

LAU_NUTS = gpd.read_parquet(r"p:\11207608-coclico\FULLTRACK_DATA\WP4\LAU_stats\LAU_NUTS_CFHP.parquet")
RP1 = gpd.read_parquet(r"p:\11207608-coclico\FULLTRACK_DATA\WP4\LAU_stats\archive\LAU_DATA_CFHP_only_HDRP1.parquet")

In [9]:
LAU_NUTS_reproj = LAU_NUTS.to_crs("EPSG:4326")
LAU_NUTS_reproj.to_parquet(r"p:\11207608-coclico\FULLTRACK_DATA\WP4\LAU_stats\LAU_NUTS_CFHP_EPSG4326.parquet")

In [4]:
LAU_NUTS.crs

<Projected CRS: EPSG:3035>
Name: ETRS89-extended / LAEA Europe
Axis Info [cartesian]:
- Y[north]: Northing (metre)
- X[east]: Easting (metre)
Area of Use:
- name: Europe - European Union (EU) countries and candidates. Europe - onshore and offshore: Albania; Andorra; Austria; Belgium; Bosnia and Herzegovina; Bulgaria; Croatia; Cyprus; Czechia; Denmark; Estonia; Faroe Islands; Finland; France; Germany; Gibraltar; Greece; Hungary; Iceland; Ireland; Italy; Kosovo; Latvia; Liechtenstein; Lithuania; Luxembourg; Malta; Monaco; Montenegro; Netherlands; North Macedonia; Norway including Svalbard and Jan Mayen; Poland; Portugal including Madeira and Azores; Romania; San Marino; Serbia; Slovakia; Slovenia; Spain including Canary Islands; Sweden; Switzerland; Türkiye (Turkey); United Kingdom (UK) including Channel Islands and Isle of Man; Vatican City State.
- bounds: (-35.58, 24.6, 44.83, 84.73)
Coordinate Operation:
- name: Europe Equal Area 2001
- method: Lambert Azimuthal Equal Area
Datum: European Terrestrial Reference System 1989 ensemble
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

In [6]:
LAU_NUTS_reproj.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [36]:
LAU_NUTS[RP1.columns[-5:]].equals(RP1[RP1.columns[-5:]])

True

In [17]:
for col in RP1[RP1.columns[-5:]]:
    LAU_NUTS[col] = RP1[col]

LAU_NUTS[RP1.columns[-5:]]

,HIGH_DEFENDED_MAPS\RP\1\n_nans,HIGH_DEFENDED_MAPS\RP\1\n_less05,HIGH_DEFENDED_MAPS\RP\1\n_more05,HIGH_DEFENDED_MAPS\RP\1\total,HIGH_DEFENDED_MAPS\RP\1\flooded
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
98608,NaN,NaN,NaN,NaN,NaN
98609,NaN,NaN,NaN,NaN,NaN
98610,NaN,NaN,NaN,NaN,NaN
98611,NaN,NaN,NaN,NaN,NaN
98612,NaN,NaN,NaN,NaN,NaN